body{
	font-family: 'Ubuntu', sans-serif !important;
}

/* Header Section Css Start */
.cus-header{
    display: block;
    position: relative;
    .cus-header-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border-bottom: .1rem solid rgba(0,0,0,.1);
        padding: 10px 10px;
        margin-bottom: 1rem;
        background: #fff;
        box-shadow: 0 0.2rem 0.7rem 0 rgba(0,0,0, .08);
        margin-bottom: 0;
        border-bottom: none;
    }
    .navbar-brand{
        img{
            height: 72px;
        }
    }
    .navbar-light{
        .navbar-nav{
            .nav-link {
                color: #000;
                &:focus, &:hover {
                    color:#1787b3;
                }
                &.btn {
                    margin-left: 1.5rem;
                    padding: 0.5rem 1.5rem;
                    background-color: #5db547;
                    color: #fff;
                    border-color: transparent;
                    font-size: 15px;
                    font-weight: normal;
                    &:hover, &:focus{
                        color: #fff;
                        background-color: #1787b3;
                    }
                }
            }
        }
    }
    .navbar-nav{
        .nav-link {
            padding-right: 0;
            padding-left: 0;
            padding: .5rem 1.2rem;
            font-size: 16px;
            color: #000;
            font-weight: 500;
        }
    }
    nav.navbar {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (min-width: 992px){
    .cus-header{
        .navbar-expand-lg{
            .navbar-nav{
                .nav-link {
                    padding-right: 1.2rem;
                    padding-left: 1.2rem;
                }
            }
        }
    }
}
/* Header Section Css Ends */

/* Banner Section Css Start */
.banner-images {
   background-image: url("/images/home-banner.jpg");
    display: inline-block;
    width: 100%;
    padding: 175px 0 70px 0;
    background-size: cover;
    background-repeat: no-repeat;
    h1{
        font-size: 60px;
        color: rgb(19, 64, 148);
        text-transform: uppercase;
    }
    p {
        font-size: 18px;
        color: #2e2e2e;
        margin: 20px 0;
        text-align: center;
        opacity: .65;
    }
    .btn {
        background-color: #5db547;
        color: #ffffff;
        padding: 10px 40px;
        font-size: 16px;
        color: #fff;
        border: 0;
        text-align: center;
        font-weight: bolder;
        text-transform: uppercase;
        &:hover, &:focus{
            color: #fff;
            background-color: #1787b3;
        }
    }
}
/* Banner Section Css Ends */

/* Footer Section Css Start */
.cus-footer {
    position: relative;
    bottom: inherit;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
    .brand {
        margin-bottom: 1rem;
        display: block;
    }
    .footer-logo{
        max-height: 70px;
        max-width: 70px;
    }
    p {
        opacity: 1;
        font-size: 16px;
    }
    .right-brdr {
        border-right: 1px solid #dee2e6;
        padding-right: 30px;
    }
    .text-justify {
        text-align: justify!important;
    }
    .social-media {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        float: right;
        align-items: center;
        justify-content: left;
        flex-direction: row;
        margin-bottom: 20px;
        li {
            display: flex;
            .icon {
                font-size: 16px;
                width: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 9px 10px;
                margin-bottom: 0;
                background: rgba(0,0,0,.2);
                margin-right: 5px;
                border-radius: 4px 0 0 4px;
            }
            .text {
                color: #fff;
                font-size: 15px;
                font-weight: 400;
                padding: 0 5px 0 0;
            }
            a {
                display: flex;
                padding: 0;
                border-radius: 6px;
                text-align: center;
                color: #fff;
                line-height: 28px;
                font-size: 15px;
                font-weight: 400;
                margin: 0 5px;
                display: flex;
                justify-content: left;
                align-items: center;                
            }
            &.facebook{
                a {
                    background-color: #4267b2;
                }
            }
            &.instagram{
                a {
                    background: #d6249f;
                }
            }
            &.twitter{
                a {
                    background: #1da1f3;
                }
            }
            &.linkedin{
                a {
                    background: #0e76a8;
                }
            }
        }
    }
    .footer-title {
        margin-bottom: 10px;
        font-size: 20px;
        width: 100%;
        display: inline-block;
    }
    nav{
        ul {
            line-height: 3rem;
            opacity: .8;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: start;
        }
    }
    .list-unstyled {
        padding-left: 0;
        list-style: none;
        li {
            width: 110px;
            height: 110px;
            display: flex;
            float: left;
            flex-direction: row;
            margin: 0 5px;
            a{
                display: flex;
                float: left;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .border {
        border: .5px solid #dee2e6!important;
        margin: 25px 0;
    }
    .bottom-footer {
        text-transform: capitalize;
    }
    a {
        color: #000;
    }
    .mobile-center{
        img {
            width: 24px;
            margin-left: 5px;
        }
    }
}
/* Footer Section Css Ends */

/* Center Grids Section Css Start */
.cus-bg-sec{
    background-color: #f2f2f2;
    width: 100%;
    display: inline-block;
    padding: 50px 0 50px;
    h2{
        font-size: 30px;
        line-height: 1.5;
        color: rgb(19, 88, 166);
        margin-bottom: 40px;
        padding-top: 10px;
    }
}
.cus-re-listing {
    overflow: hidden;
    box-shadow: 0 0.1rem 1rem rgba(0,0,0,.1);
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    padding: 30px;
    h3{
        font-size: 24px;
        color: rgb(19, 88, 166);
        display: inline-block;
        width: 100%;
    }
    .cus-com-info{
        &.company-right{
            span {
                font-size: 16px;
                width: 100%;
                display: inline-block;
                color: #000000;
                margin-bottom: 10px;
                font-weight: 500;
            }
            .d-flex{
                button.btn {
                    border-radius: 4px;
                    display: flex;
                    width: 100%;
                    overflow: hidden;
                    align-items: center;
                    padding: 0;
                    height: 100%;
                    &.btn-success {
                        flex: 1;
                        margin-right: 15px;
                    }
                    &.btn-primary{
                        flex: 2;
                    }
                }
                span {
                    margin: 0;
                    color: #fff;
                    font-size: 15px;
                    font-weight: normal;
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    &.icon {
                        font-size: 16px;
                        width: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px;
                        margin-bottom: 0;
                        background: rgba(0, 0, 0, 0.2);
                        margin-right: 5px;
                    }
                }

            }
        }
    }
    .list-group-horizontal .list-group-item+.list-group-item {
        border-width: 1px;
        border-radius: 4px;
    }
    .list-group-item+.list-group-item {
        border-width: 1px;
        border-radius: 4px;
    }
    .list-group-item {
        border-width: 1px;
        border-radius: 4px;
    }
}

.company-image-div{
        display: block;
    width: 100%;
    height: auto;
    border: 0rem solid #ffffff;
    border-radius: 0 0 13px 13px;
    background: #6f42c1;
      padding: 25px 50px;
    display: flex;
    justify-content: center;

}
.company-image{
        display: block;
    width: 100%;
    height: auto;
     border-radius: 4px;
    background: rgba(255, 255, 255, .6);
    padding: 5px;
}


.company-container-wrapper{
    padding: 0px 10px;
    // overflow: hidden;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    transition: 0.3s box-shadow ease, 0.3s transform ease;
    border-radius: 0.5rem;
    background-color: #fff;
    position: relative;
    transform: translateY(0);
}

.inside-image-div{
    height: 170px;
    width: 170px;
}
.company-container {
    position: relative;
}
/* Center Grids Section Css Ends */

/* Explore Developerss Section Css Start */
.top-developer-title{
    text-align: center;
    margin-top: 22px;
    margin-bottom: 50px;
    h2{
        font-size: 30px;
        color: #1358a6;
        text-align: center;
    }
}
.top-developer-wrapper{
    padding: 0px 50px;
    overflow: hidden;
    box-shadow: 0 0.1rem 1rem rgba(0,0,0,.1);
    transition: .3s box-shadow ease, .3s transform ease;
    border-radius: .5rem;
    background-color: #fff;
    position: relative;
    transform: translateY(0);  
    &:hover {
        box-shadow: 0 0.4rem 1.3rem rgba(0,0,0,.3);
        transform: translateY(-.2rem);
        .overlay {
            bottom: 0;
            height: 100%;
        }
    }
}
.top-developer {
    position: relative;
}
.image {
    display: block;
    width: 100%;
    height: auto;
    border: 0rem solid #ffffff;
    border-radius: 0 0 13px 13px;
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
    border: 0rem solid #ffffff;
    border-radius: 0 0 13px 13px;
    img {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
.top-developer-desc{
    text-align: center;
    padding: 0;
    margin: 25px 0;
    h3 {
        color: #1358a6;
        font-size: 20px;
        line-height: 30px;
    }
}
.slider-container{
    .slick-dots{
        li{
            button:before {
                font-size: 12px;
                opacity: .3;
                color: #607caf;
            }
            &.slick-active{
                button:before{
                    opacity: .8;
                    color: #607caf;
                }
            }
        }
    }
}
/* Explore Developerss Section Css End */


/*
contact us
*/ 

.item .wrapper {
    width: 100%;
    height: 100%;
}
.item .wrapper {
    overflow: hidden;
    box-shadow: 0 0.1rem 1rem rgba(0,0,0,.1);
    transition: .3s box-shadow ease, .3s transform ease;
    border-radius: .5rem;
    background-color: #fff;
    position: relative;
    transform: translateY(0);
    /* padding-bottom: 5rem; */
}
.item .wrapper:hover {
    box-shadow: 0 0.4rem 3.3rem rgba(0,0,0,.3);
    transform: translateY(-.2rem);
}
.top-space{
    padding-top: 130px !important;
}


.top-developer-desc {
        display: inline-block;
    width: 100%;
    padding: 0;
    text-align: center;
    margin: 20px 0;
}


.blog .item {
    padding: 0 !important;
}
.blog .items .item .image .background-image {
    border:1px solid #ddd;
    border-top:0;
    border-radius: 0 0 13px 13px;

}

.blog .items .item .image {
    height: inherit !important;
}
.blog  .background-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 13px 13px;
}
.blog{
    padding: 60px 0;
}
.blog .wrapper {
    padding: 0 50px;
}
.blog .top-developer-desc {
    padding: 0;
    margin-top: 5px;
    margin: 35px 0;
    text-align: center;
}

.blog .title-desc p {
   
    margin-bottom: 0;
}




.main-title-sub h2 {
    font-size: 24px;
    color: rgb(19, 88, 166);
    text-align: left;
    margin-bottom: 5px;
}
.mb-15{
    margin-bottom: 15px;
}


.top-developer-desc p{
    font-size: 16px;opacity: 1;
}
.mt-10{margin-top:10px !important;}
.ps-c img{object-position: center;}

.top-developer-desc h4 {
    font-size: 18px;
    line-height: 25px;
    color: rgb(19, 88, 166);
}
.top-developer-desc ul {
    display: inline-block;
    float: left;
    margin: 0 0 20px 0;
    padding: 0;
}
.top-developer-desc ul li {
       width: 100%;
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 5px 5px 15px;
}
.top-developer-desc ul li:before {
  content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background: rgb(19, 88, 166);
    left: 0;
    border-radius: 0;
    top: 34%;
}
ul.two-column li {
    width: 33.33% !important;
    float: left;
}
.contact-div {
    display: inline-block;
    float: left;
    width: 100%;
    background: #1358a6;
    padding: 15px;
    border-radius: 8px;
}
.contact-div p{
    color:#ffffff;
}
.contact-div p a {
    color: #5db547;
    font-weight: 600;
    white-space: pre-wrap;
    word-break: break-all;
}
.contact-div p a:hover {
    color: rgb(57, 163, 201);
}





/*Blog*/


.blog-container-title{
    text-align: center;
    margin-top: 22px;
    margin-bottom: 50px;
    h2{
        font-size: 30px;
        color: #1358a6;
        text-align: center;
    }
}
.blog-container-wrapper{
    padding: 0px 50px;
    overflow: hidden;
    box-shadow: 0 0.1rem 1rem rgba(0,0,0,.1);
    transition: .3s box-shadow ease, .3s transform ease;
    border-radius: .5rem;
    background-color: #fff;
    position: relative;
    transform: translateY(0);  
    &:hover {
        box-shadow: 0 0.4rem 1.3rem rgba(0,0,0,.3);
        transform: translateY(-.2rem);
        cursor: pointer;
    }
}
.blog-container {
    position: relative;
}
.image {
    display: block;
    width: 100%;
    height: auto;
    border: 0rem solid #ffffff;
    border-radius: 0 0 13px 13px;
}

.blog-container-desc{
    text-align: center;
    padding: 0;
    margin: 25px 0;
    h3 {
        color: #1358a6;
        font-size: 20px;
        line-height: 30px;
    }
}



// global
.banner-images {
    padding: 60px 0 70px;
}
.cus-header .cus-header-inner {
    position: static;
}
.cus-bg-sec {
    padding: 50px 0 50px;
}
.blog-container-title {
    padding-top: 20px !important;
}
.blog {
    padding-top: 50px !important;
}
.blog .main-title-sub h2 {
    text-align: center;
}






